.TestBox{
    display: inline-flex;
    border: 1px solid rgb(70, 5, 61);
    box-shadow: 0px 5px 5px rgb(59, 59, 230) ;
    /* margin: 5px 5px; */
    height: 50px;
    width: 50px;
    text-align: center;
  }
  .TestBox:hover{
    cursor: pointer;
  }
  .Text0{
    color: rgb(216, 31, 31);
    padding: 0px 17px;
    /* text-align: center; */
   
  }
  .TextX{
    color: rgb(28, 138, 28);
    padding: 0px 17px;
    /* text-align: center; */
  }