.Radio{
    margin: 2%;
}
.Button{
    border: 1px solid black;
    padding: 2%;
    font-size: larger;
    font-weight: 900;
}
.Button:hover{
    box-shadow: 0px 5px 4px blue;
    color:blue;
    cursor: pointer;
}